<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<h2>程序出错，请联系我--QQ：1289411876      </h2>

<!--        timestamp：时间戳-->
<!--        status：状态码-->
<!--        error：错误提示-->
<!--        exception：异常对象-->
<!--        message：异常消息-->
        <p>[[${company}]]</p>
        <p>[[${timestamp}]]</p>
        <p>[[${status}]]</p>
        <p>[[${error}]]</p>
        <p>[[${exception}]]</p>
        <p>[[${message}]]</p>


</body>
</html>